<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.losextraditables.krokodil">

  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

  <application
      android:name=".AndroidApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <activity android:name=".android.views.activities.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="368f540dcf584f079a8ae95bac579a4909e93205"/>

    <activity
        android:name=".android.views.activities.SearchActivity"
        android:theme="@style/AppTheme">
    </activity>
    <activity
        android:name=".android.views.activities.VideoDetailActivity"
        android:theme="@style/OverlayTheme">
    </activity>
    <activity android:name=".android.views.activities.DiscoverActivity">
    </activity>
  </application>

</manifest>